{% extends "base-home.html" %}

{% block head %}
    <link rel="stylesheet" href="..\static\styles\atividades.css">
{% endblock %}

{% block contents %}
<main>
    
<h2>Atividades Complementares</h2>
    <div class="container3">
        <ul>
            <li>Monitor de Física I e II - Fatec (2/2015-1/2016)</li>
            <li>Aço inoxidável com Efeito de Memória de Forma - Iniciação Científica - Fatec (2017-2018)</li>
        </ul>
    </div>
<div class="botao">
    <a href="perfil.html">voltar</a>
</div>
</main>
<main>
{% endblock %}