{% extends "base-home.html" %}

{% block head %}
    <link rel="stylesheet" href="..\static\styles\perfil.css">
{% endblock %}

{% block contents %}
<main>
    
    <h2>Formação</h2>
<div class="container">
    
    <ul>
        <li>Desenvolvimento de Software Multiplataforma - Fatec (cursando)</li>
        <li>Projeto de Estrutura de Aeronaves Faculdade de Tecnologia do Estado de São Paulo – Fatec (Dez /2018)</li>
        <li>Técnico Mecânico - ETEP (2004)  </li>
    </ul>

</div>
</main>
<main>
    <h2>Perfil Profissional</h2>

<div class="container2">
    
    <ul>
        <li>Atendimento a clientes/empresas</li>
        <li>Manutenção de máquinas</li>
        <li>Conhecimento e desenvolvimento de Desenho Técnico</li>
        <li>Conhecimento no sistema Software Catia V5, SolidWorks</li>

    </ul>
</div>
<div class="botao">
    <a href="home.html">voltar</a>
</div>
<div class="botao2">
    <a href="atividades.html">Atividades Complementares</a>
</div>
</main>
<main>
{% endblock %}



   